
<!-- Header -->
    <header id="header">
      <a class="logo" href="https://the-hacking-project-paris.herokuapp.com">The Hacking Project 2.0</a>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

  <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="https://the-hacking-project-paris.herokuapp.com">Home</a></li>
        <li><a href="https://www.thehackingproject.org/">Site official</a></li>
        <li><a href="https://www.facebook.com/thehackingproject/">Facebook ❤️</a></li>
      </ul>
    </nav>

    <!-- Section 8 : Banner -->
    <%= render 'static/parts/section8' %>

    <!-- Section 2 : 3 bonnes raisons -->
    <%= render 'static/parts/section2' %>


    <!-- Section 3 : Chiffres -->
    <%= render 'static/parts/section3' %>


    <!-- Section 4 : Témoignages -->
    <%= render 'static/parts/section4' %>


    <!-- Section 5 : Infos Pratiques -->
    <%= render 'static/parts/section5' %>


    <!-- Section 6 : Map -->
    <!-- <%= render 'static/parts/section6' %> -->


    <!-- Footer -->
    <%= render 'static/parts/section7' %>
  
